@use '../../../variables.scss';

.edit {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: variables.$white-col;
  border-radius: 6px;
  box-shadow: 0 4px 12px 0 variables.$black-col;
  max-width: 384px;
  min-height: 498px;
  margin: 5% auto 0 auto;
  padding: 48px 32px;
  font-family: 'Roboto', serif;

  .title {
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 21px;
  }

  .field {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      line-height: 22px;
      color: variables.$gray-col;
    }
    input {
      padding: 8px 12px;
      border-radius: 5px;
      margin-bottom: 12px;
      border: 1.5px solid variables.$whity-col;
      color: variables.$whity-col;
      font-size: 16px;
      line-height: 24px;
    }
    .errorMessage {
      color: variables.$red-col;
      font-size: 12px;
      margin-top: 4px;
    }
    .errorInput {
      border: 1px solid variables.$red-col;
      outline: none;

      &:focus {
        border-color: darken(variables.$red-col, 10%);
      }
    }
  }

  .button {
    background-color: variables.$blue-col;
    border-radius: 4px;
    color: variables.$white-col;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
  }
  .signIn {
    color: variables.$gray-color;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
  a {
    color: variables.$blue-col;
    padding-left: 5px;
  }
}
