$white-col: #ffffff;
$whity-col: #d9d9d9;
$w-col: #bfbfbf;
$wh-col: #fff2f0;
$whi-col: #e6f7ff;
$whit-col: #e8e8e8;
$whitt-col: #ebeef3;
$black-col: #00000026;
$black-color: #000;
$blue-col: #1890ff;
$sky-col: #40a9ff;
$black1-col: #000000d9;
$black2-col: #00000080;
$black3-col: #000000bf;
$green-col: #52c41a;
$red-col: #f5222d;
$shadow-col: rgba(0, 0, 0, 0.15);
$gray-col: #262626;
$gray-color: #8c8c8c;
$gray-colorr: #595959;
